@model UserModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    @* <h1 class="display-4">Welcome</h1> *@
    @if (Model?.BaseLogintype != "Fedora")
    {
        <h1>
            <a href="/auth/FedoraLogin">Login to FAS</a>
        </h1>
    }

    @if (User.Identity.IsAuthenticated)
    {
        @if (Model?.BaseLogintype == "Fedora")
         {
             <h2>Welcome Fedora user @Model.FasNickname</h2>
             <p>I see you are member of all these groups: @Model.Groups<br></p>
             @if (Model.IsContributor)
              {
                  <p>And you are also a contributor</p>
              }
             <h4>
                 Do you want add roles/flair in
                 <b>
                     <a href="/Auth/DiscordLogin">Discord</a>
                 </b> or
                 <b>
                     <a href="/Auth/RedditLogin">Reddit</a>
                 </b>?
             </h4>
         }
        @if (Model?.BaseLogintype == "Redhat")
         {
         }
@* *@
@*      <table> *@
@*              <thead> *@
@*              <tr> *@
@*                  <th>Claim Type </th> *@
@*                  <th>Claim Value</th> *@
@*                  <th>Issuer</th> *@
@*              </tr> *@
@*              </thead> *@
@*              <tbody> *@
@*              @ViewData["Contributor"] *@
@*              @ViewData["Groups"] *@
@* *@
@*              @foreach (var c in User.Identities.First().Claims) *@
@*              { *@
@*                  <tr> *@
@*                      <td>@c.Type</td> *@
@*                      <td>@c.Value</td> *@
@*                      <td>@c.Issuer</td> *@
@*                  </tr> *@
@*              } *@
@*              </tbody> *@
@*          </table> *@
    }
</div>
