@model UserModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    @* <h1 class="display-4">Welcome</h1> *@
    @if (Model?.BaseLogintype != "Fedora")
    {
        <h1>
            <a href="/auth/FedoraLogin">Login to FAS</a>
        </h1>
    }

    @if (User.Identity.IsAuthenticated)
    {
        @if (Model?.BaseLogintype == "Fedora")
         {
             <h2>Welcome Fedora user @Model.FasNickname</h2>
             <p>I see you are member of all these groups: @Model.Groups<br></p>
             @if (Model.IsContributor)
              {
                  <p>And you are also a contributor</p>
              }
             <h4>
                 Do you want add roles/flair in
                 <b>
                     <a href="/Role/DiscordLogin">Discord</a>
                 </b> or <b>Reddit</b>?
             </h4>
         }
        @if (Model?.BaseLogintype == "Redhat")
         {
         }
@*          <p> *@
@*              You are signed in <b>@User.Claims.FirstOrDefault(x => x.Type == "nickname")?.Value</b>!<br> <br> *@
@*              @if (User.Claims.FirstOrDefault(x => x.Value.Contains("cla/done")) != null) *@
@*              { *@
@*                  <br> *@
@*                  <b>Get your <a href="/Discord/GetRole?role=@RoleService.DiscordRoles.Contributor"> Contributor role</a></b> *@
@*              } *@
@*              @if (User.Claims.FirstOrDefault(x => x.Value.Contains("dotnet")) != null) *@
@*              { *@
@*                  <br> *@
@*                  <b>Get your <a href="/Discord/GetRole?role=@RoleService.DiscordRoles.Dotnet"> Dotnet member role</a></b> *@
@*              } *@
@*          </p> *@

@*      *@
@*     <table> *@
@*             <thead> *@
@*             <tr> *@
@*                 <th>Claim Type </th> *@
@*                 <th>Claim Value</th> *@
@*                 <th>Issuer</th> *@
@*             </tr> *@
@*             </thead> *@
@*             <tbody> *@
@*             @foreach (var x in Context.Session.Keys) *@
@*             { *@
@*                 <tr> *@
@*                     <td>@x</td> *@
@*                     <td>@Context.Session.GetString(x) </td> *@
@*                 </tr> *@
@*             } *@
@*             @ViewData["Contributor"] *@
@*             @ViewData["Groups"] *@
@*              *@
@*             @foreach (var c in User.Identities.First().Claims) *@
@*             { *@
@*                 <tr> *@
@*                     <td>@c.Type</td> *@
@*                     <td>@c.Value</td> *@
@*                     <td>@c.Issuer</td> *@
@*                 </tr> *@
@*             } *@
@*             </tbody> *@
@*         </table> *@
    }
</div>
