@model UserModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    @* <h1 class="display-4">Welcome</h1> *@
    @if (Model?.BaseLogintype != "Fedora")
    {
        <h1>
            <a href="/auth/FedoraLogin" class="button">Login to FAS</a>
        </h1>
    }

    @if (User.Identity.IsAuthenticated)
    {
        @if (Model?.BaseLogintype == "Fedora")
        {
            <h2>Welcome <b>@Model.FasNickname</b></h2>
@*              <p>I see you are member of all these groups: @Model.Groups<br></p> *@

            <h4>
                Where do you want to get your roles?<br>
                <b>
                    <a href="/Auth/DiscordLogin" class="buttonlogo" style="margin-right: 50px">
                        <img src="css/discord.png" style="width: 100px"/>
                    </a>
                </b>
                <b>
                    <a href="/Auth/RedditLogin" class="buttonlogo">
                        <img src="css/reddit.png" style="width: 80px"/>
                    </a>
                </b>
            </h4>
        }
        @if (Model?.BaseLogintype == "Redhat")
        {
        }
@* *@
@*      <table> *@
@*              <thead> *@
@*              <tr> *@
@*                  <th>Claim Type </th> *@
@*                  <th>Claim Value</th> *@
@*                  <th>Issuer</th> *@
@*              </tr> *@
@*              </thead> *@
@*              <tbody> *@
@*              @ViewData["Contributor"] *@
@*              @ViewData["Groups"] *@
@* *@
@*              @foreach (var c in User.Identities.First().Claims) *@
@*              { *@
@*                  <tr> *@
@*                      <td>@c.Type</td> *@
@*                      <td>@c.Value</td> *@
@*                      <td>@c.Issuer</td> *@
@*                  </tr> *@
@*              } *@
@*              </tbody> *@
@*          </table> *@
    }
</div>
