@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    @if (User.Identity.IsAuthenticated)
    {
        <h1 class="display-4">Welcome @User.Claims.First(x => x.Type == "nickname").Value</h1>
    }
    else
    {
        <h1 class="display-4">Welcome</h1>
    }
    @* <a href="Home/Discord">Discord login</a> *@
    @* <p>Wanna login with Reddit or Discord?</p> *@
    @* <a href="Home/Reddit">Reddit login</a> *@

    <a href="/Discord/GetRole">Get your discord role</a>
</div>

@if (User.Identity.IsAuthenticated)
{
    <p>
        You are signed in @User.Identity.Name with Fedora account system, there are @User.Claims.Count() claims
    </p>
    <table>
        <thead>
        <tr>
            <th>Claim Type </th>
            <th>Claim Value</th>
            <th>Issuer</th>
        </tr>
        </thead>
        <tbody>

        @foreach (var c in User.Identities.First().Claims)
        {
            <tr>
                <td>@c.Type</td>
                <td>@c.Value</td>
                <td>@c.Issuer</td>
            </tr>
        }

        </tbody>
    </table>
}