@using Microsoft.AspNetCore.Http
<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"]</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css"/>
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://apps.fedoraproject.org/global/fedora-bootstrap-1.5.0/fedora-bootstrap.min.css"/>
    </environment>
    <link rel="stylesheet" href="~/css/site.css"/>
    <link rel="shortcut icon" href="/favicon.ico" />
    <meta property="og:title" content="Fedora Verifier">
    <meta property="og:description" content="Verifies Fedora contributors & Red Hat employees and assigns them appropriate Discord roles and Reddit flairs.">
    <meta property="og:type" content="website">
    <meta property="og:image" content="http://valkyrja.app/img/valkyrja-geared-517p.png">
    <meta property="og:url" content="/">
</head>
<body>
<nav class="navbar navbar-light masthead p-0 navbar-expand">
    <div class="container">
        <a class="nav-link navbar-brand" href="/"><img alt="Fedora Verifier" src="~/images/fedora-verifier.png" height="40px"></a>
        @* Adds user nickname to the top right corner after authentication *@
        @if (User.Identity.IsAuthenticated)
        {
            @if (Context.Session.Keys.Contains(SessionClaims.Username))
            {
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item dropdown ml-3">
                        <a data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false" class="nav-link dropdown-toggle">
                            @* <img src="" class="avatar rounded-circle mr-1 border"> *@
                            <strong>@Context.Session.GetString(SessionClaims.Username)</strong>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right">
                            <div class="dropdown-header">
                                <strong>@Context.Session.GetString(SessionClaims.Username)</strong>
                            </div>
                            <a class="dropdown-item" href="/Auth/Logout">Log Out</a>
                        </div>
                    </li>
                </ul>
            }
        }
    </div>
</nav>
<partial name="_CookieConsentPartial"/>
<div class="bodycontent">
    @RenderBody()
</div>

<footer class="footer text-white text-xs-center py-3">
    <div class="container">
        &copy; 2019-@DateTime.UtcNow.Year - Fedora & Red Hat verification web
    </div>
</footer>

<environment include="Development">
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
</environment>
<environment exclude="Development">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
            asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
            asp-fallback-test="window.jQuery"
            crossorigin="anonymous"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=">
        </script>
    <script src="https://apps.fedoraproject.org/global/fedora-bootstrap-1.5.0/fedora-bootstrap.min.js"
            asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"
            asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
            crossorigin="anonymous"
            integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o">
        </script>
</environment>
<script src="~/js/site.js" asp-append-version="true"></script>

@RenderSection("Scripts", required: false)
</body>
</html>
